<div class="container mt-4">
  <h2 class="mb-4">Listado de Usuarios</h2>

  <form>
    <table class="table table-striped table-bordered shadow-sm">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Fecha Nac.</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        {{#each perfiles}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{fnac}}</td>
            <td>{{edad}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
</div>
